body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 20px;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.section.show {
    opacity: 1;
}

.hidden-form {
    display: none;
}

.hidden-form.show {
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #343a40;
    color: #fff;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}
